.info {
  gap: 10px;
}

.charPage-container {
  box-sizing: border-box;
  margin: 40px auto;
  padding: 40px;
  max-width: fit-content;

  border-radius: 60px
}

.char-image {
  width: 300px;
  height: 300px;
}
