.suggestionsList {
  position: absolute;
  min-width: 10rem;
  z-index: 1;
  top: 35px;
  left: 0;
  padding-bottom: 0.5rem;

  border-radius: 0;
  background-clip: padding-box;
  border-radius: 0.5rem !important;
  font-size: 0.7rem;
  text-align: left;
  list-style: none;

  &__item {
    padding: 0.3rem 1rem;
    color: #212529;
  }

  &__category {
    display: block;
    color: grey;
    font-size: 10px;
  }
}