.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.main-background {
  background-image: url('https://wallpaperaccess.com/full/6798923.jpg');
  height: 100%;
}