.episode-characters {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(92, 92, 92, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #00B74A;
    border-radius: 10px;
  }
}